#charset "UTF-8";

* {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top, #387373, #93BFB7);
}

h1 {
    color: #2D3E40;
    text-align: center;
    text-shadow: 1px 1px 0px #2d3e4051;
}

h2 {
    color: #97A6A0;
}

p {
    text-align: justify;

}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #2d3e40bc;
}